/*
Colors:
	#634E3E - dark brown
	#7A6E6A - light brown
	#344949 - dark green
	#747F91 - dark gray/blue
	#ADBBC9 - light gray/blue
*/

body {
	line-height: 1.5;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #344949;

	text-align: center;
	color: #ffffff;

	margin: 0;
	padding: 4em 0;
}

header h1 {
	margin: 0;
}

main {
	margin: 0 auto;
	max-width: 50em;

}

a {
	color: #634E3E;
	font-weight: bold;
}

a:visited {
	color: #7A6E6A;
}

main > section > h2 {
	background: #e3f1ff;
	border-left: 4px solid #747F91;
	padding-left: 0.5em;
}