body {
	line-height: 1.5;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
}

article {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 50em;
}

article header {
	text-align: center;
	padding: 25px 0;
}

article header *:first-child {
	margin-top: 0;
}

article header *:last-child {
	margin-bottom: 0;
}

article header h1 {
	margin-bottom: 0;
}

article header h1+p {
	margin-top: 0;
}

article header time {
	font-style: italic;
}

article header+* {
	margin-top: 0;
}

article {
	margin: 0 auto;
	max-width: 50em;
}

article footer {
	margin-top: 25px;
}
